Flask==3.1.2
Flask-JWT-Extended==4.7.1
Flask-Cors==6.0.1
gunicorn==23.0.0
peewee==3.18.3
psycopg2-binary==2.9.10
redis==5.2.1
marshmallow==3.26.1
requests==2.32.5
fuzzywuzzy==0.18.0
cryptography==46.0.2
