[Unit]
Description=Slang program container network restrictions
Requires=docker.service
After=docker.service
Before=slang-runtime-agent.service slang-runtime-router.service
PartOf=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /srv/slang/runtime/runtime_network.sh

[Install]
WantedBy=multi-user.target
